/* 精彩视频 */
/* 右栏 */
/* 标题 */
.News .news_con .right .title .tit_logo {
    background-image: url(../images/06精彩视频/icon/video-logo.png);
}
/* 标题end */
/* 导航 */
.News .news_con .right .news_nav ul li {
    width: 176px;
}
.News .news_con .right .news_nav ul li.con {
    background-position: 34px -30px;
}
/* 导航end */
/* 精彩视频内容 */
.News .news_con .right .V_content {
    width: 878px;
    padding: 35px 35px 0 27px;

    overflow: hidden;
}
.News .news_con .right .V_content ul {
    width: 110%;
}
.News .news_con .right .V_content ul li {
    width: 270px;
    height: 152px;

    margin-right: 34px;
    margin-bottom: 30px;
    float: left;
}
.News .news_con .right .V_content ul li a {
    display: block;
    width: 270px;
    height: 152px;
    position: relative;
}
.News .news_con .right .V_content ul li a img {
    width: 270px;
    height: 152px;
}
.News .news_con .right .V_content ul li a .v_btn {
    width: 270px;
    height: 152px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5) url(../images/06精彩视频/icon/btn-play.png) no-repeat center center;

    /* display: none; */
}
.News .news_con .right .V_content ul li a .v_tit {
    width: 260px;
    height: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 35px;
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}
/* 精彩视频内容end */
/* 右栏end */
/* 精彩视频end */