* {
    margin: 0;
    padding: 0;
}
ul,ol,li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* a:hover {
    text-decoration: underline;
} */
h1,h2,h3,h4,h5,h6,b,strong {
    font-weight: normal;
}
i,em {
    font-style: normal;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
